<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AccuWeatherAPIKey</key>
	<string>$(API_KEY_ACCUWEATHER)</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.widgetkit-extension</string>
	</dict>
	<key>NSWidgetWantsLocation</key>
	<true/>
	<key>WeatherAPI.comAPIKey</key>
	<string>$(API_KEY_WEATHERAPI)</string>
</dict>
</plist>
